ServiceDeskSBPortfolio/IncidentService/Resources/IncidentsResource.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/ServiceDeskSBPortfolio/IncidentService/IncidentsResource" xmlns:ns0="http://sysco.no/IncidentsResource_ReportIncident_request" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="IncidentsResource">REST Service: Incidents Resource</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://sysco.no/IncidentsResource_ReportIncident_request" schemaLocation="IncidentsResource.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://sysco.no/IncidentsResource_ReportIncident_request" schemaLocation="IncidentResource.xsd"/>
        </xsd:schema>
      <schema targetNamespace="http://xmlns.oracle.com/ServiceDeskSBPortfolio/IncidentService/IncidentsResource" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="GetIncidentsByEmployee_params">
                <complexType>
                    <sequence>
                        <element name="employee_id" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
   </grammars>
   <resources>
      <resource path="/incidents">
         <method name="GET" soa:wsdlOperation="GetIncidentsByEmployee">
            <request>
               <param name="employee_id" style="query" soa:expression="$msg.request/tns:employee_id" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:incidents" xmlns:cns="http://sysco.no/IncidentsResource_ReportIncident_request"/>
            </response>
         </method>
         <method name="POST" soa:wsdlOperation="CreateIncident">
            <request>
               <representation mediaType="application/json" element="cns:incident" xmlns:cns="http://sysco.no/IncidentsResource_ReportIncident_request"/>
            </request>
            <response status="204"/>
         </method>
      </resource>
   </resources>
</application>
