ServiceDeskSBPortfolio/IncidentService/Resources/IncidentsResource.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="IncidentsResource"
     targetNamespace="http://xmlns.oracle.com/ServiceDeskSBPortfolio/IncidentService/IncidentsResource"
     xmlns:tns="http://xmlns.oracle.com/ServiceDeskSBPortfolio/IncidentService/IncidentsResource"
     xmlns:inp1="http://sysco.no/IncidentsResource_ReportIncident_request"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:inp2="http://sysco.no/IncidentsResource_ReportIncident_request"
    >
    <plnk:partnerLinkType name="IncidentsResource">
        <plnk:role name="IncidentsResourceProvider" portType="tns:IncidentsResource_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://sysco.no/IncidentsResource_ReportIncident_request" schemaLocation="IncidentsResource.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://sysco.no/IncidentsResource_ReportIncident_request" schemaLocation="IncidentResource.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/ServiceDeskSBPortfolio/IncidentService/IncidentsResource"
             elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="GetIncidentsByEmployee_params">
                <complexType>
                    <sequence>
                        <element name="employee_id" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:message name="GetIncidentsByEmployee_inputMessage">
        <wsdl:part name="request" element="tns:GetIncidentsByEmployee_params"/>
    </wsdl:message>
    <wsdl:message name="GetIncidentsByEmployee_outputMessage">
        <wsdl:part name="reply" element="inp1:incidents"/>
    </wsdl:message>
    <wsdl:message name="CreateIncident_inputMessage">
        <wsdl:part name="request" element="inp1:incident"/>
    </wsdl:message>
    <wsdl:portType name="IncidentsResource_ptt">
        <wsdl:operation name="GetIncidentsByEmployee">
            <wsdl:input message="tns:GetIncidentsByEmployee_inputMessage"/>
            <wsdl:output message="tns:GetIncidentsByEmployee_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="CreateIncident">
            <wsdl:input message="tns:CreateIncident_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IncidentsResource_ptt-binding" type="tns:IncidentsResource_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetIncidentsByEmployee">
            <soap:operation soapAction="GetIncidentsByEmployee"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CreateIncident">
            <soap:operation soapAction="CreateIncident"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
